import requests

_BASE_URL = 'http://{{ schema.host }}{{ schema.base_path }}'


{% for path_name, path in schema.paths %}
{% for method_name, method in path %}
def {{ method.name }}({{ method.parameters|map(attribute='name')|join(', ') }}) -> requests.Response:
    """{{ method.summary }}"""
    url = _BASE_URL + f'{{ path }}'
    {% set params = method.parameters|map(attribute='in_')|select('equalto', 'query')|list %}
    {% set body = method.parameters|map(attribute='in_')|select('equalto', 'body')|list %}
    {% if params %}
    params = {
        {% for p in method.parameters %}
        {% if p.in_ == 'query' %}
        '{{ p.name }}': {{ p.name }},
        {% endif %}
        {% endfor %}
    }
    {% endif %}
    {% if body %}
    body = {
        {% for p in method.parameters %}
        {% if p.in_ == 'body' %}
        '{{ p.name }}': {{ p.name }},
        {% endif %}
        {% endfor %}
    }
    {% endif %}
    return getattr(requests, '{{ method_name }}')(url{% if params %}, params=params{% endif %}{% if body %}, json=body{% endif %})


{% endfor %}
{% endfor %}