import requests

_BASE_URL = 'http://{{ schema.host }}{{ schema.base_path }}'


{% for path, path_details in schema.paths %}
{% for method, method_details in path_details %}
def {{ method_details.name }}({{ method_details.parameters|map(attribute='name')|join(', ') }}) -> requests.Response:
    """{{ method_details.summary }}"""
    url = _BASE_URL + f'{{ path }}'
    {% set params = method_details.parameters|map(attribute='in_')|select('equalto', 'query')|list %}
    {% set body = method_details.parameters|map(attribute='in_')|select('equalto', 'body')|list %}
    {% if params %}
    params = {
        {% for p in method_details.parameters %}
        {% if p.in_ == 'query' %}
        '{{ p.name }}': {{ p.name }},
        {% endif %}
        {% endfor %}
    }
    {% endif %}
    {% if body %}
    body = {
        {% for p in method_details.parameters %}
        {% if p.in_ == 'body' %}
        '{{ p.name }}': {{ p.name }},
        {% endif %}
        {% endfor %}
    }
    {% endif %}
    return getattr(requests, '{{ method }}')(url{% if params %}, params=params{% endif %}{% if body %}, json=body{% endif %})


{% endfor %}
{% endfor %}